<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{index :: header}"></div>
    <title>Ajout de produits</title>
</head>
<body>
<div th:replace="~{index :: navbar}"></div>
<div class="container">
    <h3>Caractéristiques du produit</h3>
    <form th:action="@{/admin/products/add}" method="post" th:object="${product}"enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-5">
                <input type="hidden" name="id" th:field="*{id}"/>
                <div class="form-group">
                    <label for="name">Nom</label>
                    <input type="text" class="form-control" required th:field="*{name}" name="name" id="name"
                           placeholder="Nom"/>
                </div>
                <div class="form-group">
                    <label for="category">Sélectionner une catégorie de produit</label>
                    <select class="form-control" th:field="*{category}" id="category" name="category">
                        <option th:each="category:${categories}"
                                th:value="${category.id}"
                                th:text="${category.name}"/>
                    </select>
                </div>
                <div class="form-group">
                    <label for="price">Prix</label>
                    <input type="number" step="0.01" class="form-control" required th:field="*{price}" name="price" id="price" placeholder="Prix">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" rows="5" th:field="*{description}" name="description" id="description"></textarea>
                </div>
            </div>
            <!--Image-->
            <div class="col-sm-5">
                <p>Photo : </p>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="uploadedImage" accept="image/jpeg, image/png" id="uploadedImage" onchange="readURL(this);"/>
                    <label class="custom-file-label" for="uploadedImage">Choisir un fichier</label>
                </div>
                <div class="form-group">
                    <img id="imgPreview" height="150px" width="150px" style="margin-top: 20px;" th:src="@{${imageUrl}(imageUUID=${product.image})}" alt=""/>
                    <input type="hidden" name="imageUUID" th:value="${product.image}" id="imageUUID"/>
                    <input type="hidden" name="id" th:value="${product.id}"/> <!-- ok bug, Id caché-->
                </div>
                <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Valider</button>
            </div>
        </div>
    </form>
</div>
<script src="/js/script.js"></script>
<div th:replace="~{index :: script}"></div>

</body>
</html>





